<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
	<meta name="keywords" content="csukuangfj">
    <meta name="description" content="csukuangfj's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAD/APr59wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIiIiIiAAAiIiIiIiIAACIiIiIiIgERERERERIiAREREREREiIBERERERESIgERIiIiERIiAREiIiIREiIBESIhERESIgERIiERERIiAREiIiIiIiIBESIiIiIiIgERIiIiIiIiAREREREREAABEREREREQAAERERERERAADgAQAA4AEAAOABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAA8AAAAPAAAADwAA" rel="icon" type="image/x-icon" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
<!--   
    
-->    


<link rel="stylesheet" href="/media/css/highlight.css">  
<link href='/media/webfonts/ss-social.css' rel='stylesheet'>

<link href='/media/webfonts/ss-standard.css' rel='stylesheet'>
<link href="/media/css/screen.css" rel="stylesheet">


<!-- using google-code-prettify, it is must write prettyprint before the code, e.g., writing prettyprint istead of python

<link href="/media/css/kfjstyle/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/media/css/kfjstyle/google-code-prettify/prettify.js"></script>
<body onload="prettyPrint()">
-->


<!--             
	refer to http://prismjs.com/download.html
	using Coy theme
 -->
<link href="/media/css/kfjstyle/prismjs/prism.css" rel="stylesheet" />
<script src="/media/css/kfjstyle/prismjs/prism.js"></script>


<!--
<link rel="stylesheet" href="/media/css/kfjstyle/highlight/styles/default.css">
<script src="/media/css/kfjstyle/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
-->

    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>

    
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <div class="buttons">
          <a href="/" class="ss-icon" title="Go to homepage">home</a>
          <a href="/categories" class="ss-icon" title="Category" >list</a>
          <a href="/tags" class="ss-icon" title="Tag Cloud" >tags</a>
          <a href="/guestbook" class="ss-icon" title="Guest Book" >talk</a>
          <a href="/about" class="ss-icon" title="About" >user</a>
     <!-- 
     
     -->
     <a href="/feed" class="ss-icon" title="Subscribe by RSS" >rss</a> 
      <a href="{{ site.mygithub }}" target="_blank"><img src="/images/github.png" /></a> 
     
        </div>
        <h1>{{ page.title }}</h1>
        </header>
        <hr>
        <article class="content">
        {{ content }}
        </article>
      </div>

    <footer>
        <p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> | Copyright 2008 - {{site.time | date:"%Y"}} by <a href="{{ site.mydomain }}/about/">{{ site.author }}</a> | <span class="label label-info">{{site.time | date:"%Y-%m-%d %A %H:%M:%S %Z"}}</span></small></p>
    </footer>

    </div>

<!-- added by kfj to view raw content of the post -->


{% if page.showSource contains 'yes' %}
{% include showSource.md %}
{% else %}
do not include source fileaa---
<!-- do not include source file -->
{% endif %}


<!-- 
	add Google Analytics
-->
{% include Google-Analytics.md %}


<!-- MathJax Section -->
{% if page.useMath contains 'latex' %}
{% include MathJax.md %}
{% endif %}



  </body>
</html>
