---
layout: default
---

<section class="post">
{{ content }}

<!--
    showSource: 'yes'  ====> include source file
    other value ===> do not include source file
-->
{% if page.showSource == 'yes' %}
    {% include showSource.md %}
{% else %}
    <!-- do not include source file -->
{% endif %}


</section>
<section class="meta">
<span class="author">
  <a href="{{ site.mydomain }}">{{ site.author }}</a>
</span>
<span class="time">
  /
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br />
<span class="license">
  Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
</span>
{% if page.categories %}
<span class="categories">
  in categories
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags %}
<span class="tags">
  tagged with 
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}


</section>


<!--
    refer  http://www.revolvermaps.com/?target=setup24
  -->
  <!--enable to track visitors  --- kfj -->
  <!--
<script type="text/javascript" src="//rj.revolvermaps.com/0/0/0.js?i=9w03s4418qi&amp;d=3&amp;p=0&amp;b=0&amp;w=293&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=9d8b63&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"></script>
<p/>
-->

<!--
    refer  http://www.revolvermaps.com/?target=setup
  -->
<!--  
<script type="text/javascript" src="//rj.revolvermaps.com/0/0/1.js?i=9kpmpzl156b&amp;s=220&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>

-->
<!--
	add disqus comment function
-->
{% include disqus.md %}

<!--  
**************************************************** 
* 下面的代码：按方向键或 j k 可以翻页
-->
<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>



